.team {
    background: #F5F4FA;
    padding: 54px 0px;
        @media screen and (min-width: 768px) {
            padding: 60px 0px;
        }
        @media screen and (min-width: 1200px) {
            padding: 94px 0px;
        }
&__title {
        text-align: center;
        font-weight: 700;
    
        color: var(--main-text-color);
        @media screen and (max-width: 767px){
            margin-bottom: 36px;
        }
        @media screen and (min-width: 480px) {
            font-size: 28px;
            line-height: 1.18;
            letter-spacing: 0.03em;
            margin-bottom: 36px;
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.16;
            margin-bottom: 50px;
        }
    }
&__row {
        list-style: none;
            @media screen and (min-width: 480px) {
                display: block;
            }
            @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
            }
            @media screen and (min-width: 1200px) {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
    }
    &__list {
        @media screen and (min-width: 480px) {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 30px)/2);
            margin: 15px;
        }
            &:not(:last-child) {
                @media screen and (max-width: 479px) {
                    margin-bottom: 30px;
                }
        }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 4 * 30px))/4;
            margin: 0px 15px;
        }
    }
}
.team-card {
    padding-bottom: 24px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
        }
&__image {
        display: block;
        margin-bottom: 30px;
    }
&__name {
        margin-bottom: 10px;
        text-align: center;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--main-text-color);
    }
&__speciality {
        margin-bottom: 16px;
        text-align: center;
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        color: var(--secondary-text-color);
    }
}
.messengers {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
&__link {
        width: 44px;
        height: 44px;
        display: flex;
        
        align-items: center;
        justify-content: center;
        background-color: var(--main-white-color);
        border-radius: 50%;
        color: var(--borders-color);
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
&__icon {
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.messengers__link:hover,
.messengers__link:focus {
    background-color: var(--brand-color);
    color: var(--main-white-color);
}